.hero {
  display: flex;
  align-items: flex-start;  /* 🔥 change this */
  justify-content: space-between;
  padding: 40px;
}

.hero-text {
  flex: 1;

}

.hero-text h1 {
margin-top: 0;
}
.hero-text p {
  margin-top: 0;
}


.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 500px;
  max-width: 100%;
}