*{
  padding: 0;
  margin: 0;
;

}
body {
  height: 2000px; /* temporary to check stick is working */
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.navbar ul {
  display: flex;
  gap: 50px; 
  list-style: none;
  margin: 0;
  padding-left: 30%;
  z-index: 1000;
  
}

.navbar a {
  text-decoration: none;
  font-size: large;
} 

.btn{
  background-color: lightgreen;
  font-size: large;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  margin-right: 5%;
}

.logo{
  width: 200px;
  height: 100px;
  margin-left: 2%;
}